<?xml version="1.0" ?>

<robot name="gate">

  <link name="base_link">

    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0."/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>

    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="./assets/gate.obj" scale=" .006 .0083333 .006"/>
      </geometry>
      <material name="grey">
        <color rgba="1.0. 1.0. 0.5. 1"/>
      </material>
    </visual>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.111429"/>
      <geometry>
        <box size="0.012 0.25 0.017142"/>
      </geometry>
    </collision>

    <collision>
      <origin rpy="0 0 0" xyz="0 0 0.008571"/>
      <geometry>
        <box size="0.012 0.25 0.017142"/>
      </geometry>
    </collision>

    <collision>
      <origin rpy="0 0 0" xyz="0 -0.105979 0.06"/>
      <geometry>
        <box size="0.012 0.038042 0.085716"/>
      </geometry>
    </collision>

    <collision>
      <origin rpy="0 0 0" xyz="0 0.105979 0.06"/>
      <geometry>
        <box size="0.012 0.038042 0.085716"/>
      </geometry>
    </collision>

  </link>

</robot>
